{% extends '@SunnerbergSimilarSeries/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@SunnerbergSimilarSeriesBundle/Resources/public/css/Start/start.less' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <div id="actionContainer">
        <a class="btn btn-material-green-600" role="button" href="{{ path('anonymous_login') }}">
            Continue anonymously
        </a>
        <a class="btn btn-material-blue-600" role="button" data-toggle="collapse" href="#loginCollapse" aria-expanded="false" aria-controls="loginCollapse">
            Login
        </a>
        <a class="btn btn-material-deep-orange-600" role="button" data-toggle="collapse" href="#registerCollapse" aria-expanded="false" aria-controls="registerCollapse">
            Register
        </a>

        <div class="collapse" id="loginCollapse">
            {{ include('@SunnerbergSimilarSeries/Login/login.html.twig', { error: false, last_username: false, last_password: false }) }}
        </div>
        <div class="collapse" id="registerCollapse">
            {{ include('@SunnerbergSimilarSeries/Login/login.html.twig', { error: false, last_username: false, last_password: false }) }}
        </div>
    </div>

{% endblock %}
