{% extends '@SunnerbergSimilarSeries/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@SunnerbergSimilarSeriesBundle/Resources/public/css/Start/start.less' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="parallax-wrapper">
        <div id="parallax-background">
            <div class="dim"></div>
        </div>
    </div>
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div id="call-to-action" class="col-sm-6">
            <h1>Find series that you like.</h1>
            <p>By analyzing what shows you've previously enjoyed, we predict what shows you'd like to watch next. Completely free.</p>

            <div class="row">
                <div class="col-sm-10">
                    <form method="post" action="{{ path('anonymous_login') }}">
                        <button id="anonymous-login-button" type="submit" class="btn btn-block btn-material-green-600 input-block-level">Continue anonymously</button>
                    </form>
                    <p class="or-label">Or</p>
                    <a id="login-button" class="btn btn-block btn-material-blue-600" role="button" href="{{ path('login_route') }}">
                        Login / Register
                    </a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
